<!--<div class="mb-2">
  <strong><%= message.user.name %>:</strong>
  <span><%= message.body %></span>
</div>-->
<div class="mb-2">
  <span>[<%= time_ago_in_words(message.created_at) %> ago]</span>
  <strong><%= message.user.name %></strong>
  <span><%= message.body %></span>
</div>
