<div class="modal fade" id="conversationModal-<%= conversation.id %>" tabindex="-1" aria-labelledby="conversationModalLabel-<%= conversation.id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="conversationModalLabel-<%= conversation.id %>">
          Conversation with <%= conversation.users.reject{ |u| u == current_user }.map(&:email).join(", ") %>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_stream_from @conversation, "messages" %>
        <div id="messages">
          <%= render partial: "messages/message", collection: conversation.messages.order(created_at: :asc), as: :message %>
        </div>
      </div>
      <div class="modal-footer">
        <%= form_with(model: [conversation, Message.new], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}, html: { id: "new_message_#{conversation.id}" }) do |f| %>
          <div class="input-group w-100">
            <%= f.text_field :body, placeholder: "Type a message...", class: "form-control", autocomplete: "off" %>
            <button class="btn btn-primary" type="submit">Send</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

