<div class="container mt-4">
  <div class="card bg-dark text-white">
    <div class="card-header">
      <h5 class="card-title">
        Conversation with 
        <%= @conversation.users.reject { |u| u == current_user }.map(&:name).join(", ") %>
      </h5>
    </div>
    <div class="card-body">
      <%= turbo_stream_from @conversation, "messages" %>
      <div id="messages" data-conversation-id="<%= @conversation.id %>">
        <%= render partial: "messages/message", collection: @conversation.messages.order(created_at: :asc), as: :message %>
      </div>
    </div>
      <%= form_with(model: [@conversation, Message.new], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>
        <div class="input-group">
          <%= f.text_field :body, placeholder: "Type a message...", class: "form-control", autocomplete: "off" %>
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      <% end %>
  </div>
</div>

