<h1 class="page-title">All Posts</h1>

<div class="container mt-4">
  <%= form_with url: posts_path, method: :get, local: true, class: "mb-4" do |form| %>
    <div class="input-group">
      <%= form.text_field :search, value: params[:search], class: "form-control", placeholder: "Search posts by title or description..." %>
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  <% end %>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <article class="post">
      <h2>
        <%= link_to post.title, post, class: "link" %>
      </h2>
      <p class="post-meta">
        by <%= post.user.name %> in <%= post.category.name %>
        <em><%= post.created_at.strftime("%b %d, %Y") %></em>
      </p>
      <p class="post-excerpt">
        <%= truncate(post.content, length: 150) %>
      </p>
      <%= link_to "Read More", post, class: "button" %>
    </article>
  <% end %>
</div>
