<h1 class="page-title">All Posts</h1>

<div class="posts">
  <% @posts.each do |post| %>
    <article class="post">
      <h2>
        <%= link_to post.title, post, class: "link" %>
      </h2>
      <p class="post-meta">
        by <%= post.user.name %> in <%= post.category.name %>
        <em><%= post.created_at.strftime("%b %d, %Y") %></em>
      </p>
      <p class="post-excerpt">
        <%= truncate(post.content, length: 150) %>
      </p>
      <%= link_to "Read More", post, class: "button" %>
    </article>
  <% end %>
</div>
